<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="verg.udontknow">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name=".provider.DataProvider"
            android:authorities="verg.udontknow.customer"
            android:exported="false" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <action android:name="android.intent.action.VIEW" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


                <!-- <data -->
                <!-- android:host="www.example.com" -->
                <!-- android:pathPrefix="/gizmos" -->
                <!-- android:scheme="http" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.EditorActivity"
            android:label="@string/title_activity_editor"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="573027f1e0f55ad0b4002fb6" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="test" />
    </application>

</manifest>